<button mat-button routerLink="/create-recipe">Create Recipe</button>

<cdk-virtual-scroll-viewport itemSize="100" style="height: 500px;">
  <div *cdkVirtualFor="let recipe of recipes$ | async">
    <mat-card>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <img
        mat-card-image
        src="{{ recipe.photoURL }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>{{ recipe.description }}</mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button></mat-card-actions
      >
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>
